/* switch style */

.switch-btn {
  width: 52px;
  height: 31px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}

.switch-btn::before {
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.switch-btn:checked {
  border-color: var(--theme-purple);
  box-shadow: var(--theme-purple) 0 0 0 16px inset;
  background-color: var(--theme-purple);
}

.switch-btn:checked::before {
  left: 21px;
}

/* 仅仅简单背景颜色过渡 */
.switch-btn.switch-animate-bg {
  transition: background-color ease 0.4s;
}
.switch-btn.switch-animate-bg::before {
  transition: left 0.3s;
}

.switch-btn.switch-animate-bg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: var(---purple);
  transition: border-color 0.4s, background-color ease 0.4s
}

.switch-btn.switch-animate-bg:checked::before {
  transition: left 0.3s;
}


/* ToggleSwitchButton css */

.toggle-switch {
  position: relative;
  margin-right: 10px;
  width: 50px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
}

.toggle-switch .toggle-switch-checkbox {
  display: none;
}

.toggle-switch .toggle-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0 solid #c4c2c2;
  border-radius: 20px;
}

 .toggle-switch .toggle-switch-label:focus {
  outline: none;
}

.toggle-switch .toggle-switch-label:focus > span:focus {
  outline: none;
}

.toggle-switch .toggle-switch-inner {
  position: absolute;
  width: 100%;
}


.toggle-switch .toggle-switch-inner:before, 
.toggle-switch .toggle-switch-inner:after {
  position: absolute;
  width: 100%;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 1px 3px #6f6e6e;
  background: #fff;
}

.toggle-switch  .toggle-switch-inner:before {
  content: attr( data-dark-icon);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: var(--theme-dark);
  color: #fff;
}

.toggle-switch .toggle-switch-inner:after {
  content: attr(data-sun-icon);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: var(--theme-purple);
  color: #fff;
  text-align: right;
}


.toggle-switch  .toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed; 
}

.toggle-switch .toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch .toggle-switch-switch {
  width: 22px;
  height: 22px;
  background: #fff;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 28px;
  border: 1px solid #6f6e6e;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.toggle-switch-switch--focus .toggle-switch-switch {
  border-color: violet;
  box-shadow: 0 0 2px 3px violet;
}


.toggle-switch-checkbox:checked +  .toggle-switch-label  .toggle-switch-inner:after {
  opacity: 0;
}
.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0
}


@media screen and (max-width: 991px) {
  .toggle-switch {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 767px) {
  .toggle-switch {
    transform: scale(0.825);
  }
}
@media screen and (max-width: 575px) {
  .toggle-switch {
    transform: scale(0.75);
  }
}