/* ToggleSwitchButton css */

.toggle-switch {
  position: relative;
  margin-right: 10px;
  width: 52px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  z-index: 1;
}

.toggle-switch .toggle-switch-checkbox {
  opacity: 0;
}

.toggle-switch .toggle-switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0 solid #c4c2c2;
  padding: 0;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: var(--border-size);
  border-top-left-radius: var(--border-size);
  border-top-right-radius: var(--border-size);
  border-bottom-left-radius: var(--border-size);
  border-bottom-right-radius: var(--border-size);
  box-shadow: 0 1px 3px #6f6e6e;
  z-index: 0;
}

 .toggle-switch .toggle-switch-label:focus {
  outline: none;
}

.toggle-switch .toggle-switch-label:focus > span:focus {
  outline: none;
}

.toggle-switch .toggle-switch-dark, .toggle-switch .toggle-switch-sun {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-size);
  background-color: var(--theme-dark-btn);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.toggle-switch .toggle-switch-sun {
  opacity: 1;
}


.toggle-switch  .toggle-switch-label > span > img {
  position: absolute;
  top: 1px;
  width: 23px;
  z-index: 0;
}

.toggle-switch .toggle-switch-label .toggle-switch-sun > img {
  right: 2px;
}

.toggle-switch .toggle-switch-label .toggle-switch-dark > img {
  top: 2px;
  left: 3px;
  width: 20px;
}


.toggle-switch  .toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed; 
}

.toggle-switch .toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch .toggle-switch-switch {
  width: 24px;
  height: 24px;
  background: var(--color-theme-dark);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  border: 1px solid var(--theme-dark-btn);
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 0;
}

.toggle-switch .toggle-switch-label .toggle-switch-switch.switch-shadow {
  border: 1px solid var(--theme-purple);
  box-shadow: 0 0 2px 2px var(--theme-purple);
}


.toggle-switch-checkbox:checked + .toggle-switch-label  .toggle-switch-sun {
  opacity: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label  .toggle-switch-dark {
  opacity: 1;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0
}

.toggle-switch .toggle-switch-label .switch-btn-moving {
  right: 0
}


@media screen and (max-width: 991px) {
  .toggle-switch {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 767px) {
  .toggle-switch {
    transform: scale(0.825);
  }
}
@media screen and (max-width: 575px) {
  .toggle-switch {
    transform: scale(0.75);
  }
}